@media(max-width: 1024px){

  .wrap{
    width: 100px;
    margin: 0 auto;
  }
  .header-container img{
    width: 247px;
    height: 108px;
  }
  .service-container{
    width: 80%;
  }
  
}